@import '../../styles/config';

.paginationContainer {
    width: 100%;
    align-items: center;
    @include breakpoint(md) {
        align-items: unset;
    }
}

.pagination {
    margin-top: 36px;
}