@mixin breakpoint($point) {
    @if $point == xl {
      @media (min-width: 1536px) { @content ; }
   }
    @else if $point == lg {
      @media (min-width: 1200px) { @content ; }
   }
     @else if $point == md {
      @media (min-width: 900px) { @content ; }
   }
    @else if $point == sm {
      @media (min-width: 600px)  { @content ; }
   }
   @else if $point == xs-sm {
      @media (min-width: 450px)  { @content ; }
   }
   @else if $point == xs {
      @media (min-width: 0)  { @content ; }
 
   }
 }