// COLORS
$color-pr-1: #18c1f0;
$color-pr-2: #fc4aed;
$color-pr-3: #3577ff;
$color-pr-4: rgb(12,101,166);
$color-pr-5: rgb(11,70,113);

$color-se-1: #0f011f;
$color-se-2: #2c2435;
$color-se-3: #363538;

$color-white: #fff;
$color-black: #000;
$color-bg-dark: #2b2d42;

$color-text-bold: rgb(81,97,112);
$color-text-md: rgb(116,136,153);
$color-text-light: rgb(139,160,178);


// Font-size
$fs-sm: 15px;
$fs-md: 18px;
$fs-lg: 25px;
$fs-xl: 32px;