// COLORS
$color-pr-1: #18c1f0;
$color-pr-2: #fc4aed;
$color-pr-3: #3577ff;
$color-pr-4: rgb(12,101,166);
$color-pr-5: rgb(11,70,113);

$color-se-1: #0f011f;
$color-se-2: #2c2435;
$color-se-3: #363538;

$color-white: #ffffff;
$color-black: #000;
$color-bg-light: #EDF1F5;
$color-bg-dark: #2b2d42;
$color-bg-footer: #11161d;
$color-bg-header-opacity: rgba(35,38,67,.5);
$color-text-bold: #516170;
$color-text-md: #748899;
$color-text-light: #8ba0b2;
$color-text-super-light: #adc0d2;
$color-danger: #dc3545;
$color-success: #28a745;

$color-box-shadow: #6784bb;
$color-overlay: #1f2631;

// Font-size
$fs-xs-sm: 14px;
$fs-sm: 15px;
$fs-md-sm: 16px;
$fs-md: 18px;
$fs-md-lg: 21px;
$fs-lg: 25px;
$fs-xl: 32px;

$height-header: 64px;