@import '../../styles/config';

.editorWrapper {
    
}

.editor {
    font-size: $fs-sm;
    background-color: rgba($color-bg-input, 0.4);
    color: $color-text-bold;
    padding: 0 20px;

    a {
        color: $color-pr-1;
        text-decoration: none;
    }
}

.toolbar {
    border: none !important;

    .option {
        border: none;
        div {
            border: none;
        }
    }
    
}

.mention {
    color: red;
}