@import '../../styles/config';

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    background: url(../../assets/img/404.jpg) center/cover no-repeat;
    height: 100vh;
    margin: 0;
}

.btnGoHome {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}
