@import '../../../styles/config';

.chip {
    display: inline-block;
    font-size: 12px;
    color: $color-white;
    background-color: $color-pr-3;
    padding: 1px 10px;
    text-transform: lowercase;
    border-radius: 10px;
    text-decoration: none;
}