@import '../../../styles/config';


.form-container__outer {
    width: calc(100% + 32px);
    min-height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    margin-left: -16px;
    margin-bottom: -80px;
    @include breakpoint(sm) {
        min-height: 600px;
        margin: 60px 0 0;
        width: 100%;
    }
    .form-container__inner {
        background-color: $color-white;
        border-radius: 3px;
        display: flex;
        padding: 40px;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(sm) {
            max-width: 400px;
        }
        
        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        label {
            display: block;
            font-weight: 600;
            font-size: $fs-sm;
            color: $color-text-md;
            margin-bottom: 4px;
        }

        input {
            &[type=text],
            &[type=password],
            &[type=email] {
                background: rgba($color-bg-light, 0.4);
                border-radius: 4px;
                border: 0;
                box-shadow: none;
                color: $color-text-bold;
                font-size: $fs-sm;
                font-weight: 600;
                width: 100%;
                height: 39px;
                line-height: 39px;
                margin-bottom: 3px;
                padding: 0 15px;
                &:focus {
                    outline: none;
                }
            }
        }

        button {
            width: 100%;
            height: 39px;
        }

        .error-message {
            font-size: 13px;
            color: $color-danger;
        }
    }
}

