@import '../../../styles/config';


.form-container__outer {
    width: calc(100% + 32px);
    min-height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    margin-left: -16px;
    margin-bottom: -80px;
    @include breakpoint(sm) {
        min-height: 600px;
        margin: 60px 0 0;
        width: 100%;
    }
    .form-container__inner {
        background-color: $color-white;
        border-radius: 3px;
        display: flex;
        padding: 40px;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(sm) {
            max-width: 400px;
        }
        
        @include formMixin;
    }
}

