@import '../../styles/config';

.listItem {
    transition: all 0.3s;
    text-decoration: none;
    &:hover {
        color: $color-pr-1;
        transition: all 0.3s;
        div {
            transition: all 0.3s;
            color: $color-pr-1;
        }

    }
}