@import '../../styles/config';

.header {
    background-color: $color-bg-dark !important;
    padding: 0 calc((100% - 1200px) / 2);
}

.btnLogin, .btnSignUp {
    align-self: center;
    height: fit-content;
    margin-left: 16px;

    &.btnMobile {
        width: 100%;
        margin-left: 0;
    }
}

