@import '../../styles/config';

.header {
    background-color: $color-bg-dark !important;

    // background-color: $color-bg-header-opacity !important;
    // &:hover {
    //     background-color: $color-bg-dark !important;
    //     transition: all 0.3s;
    // }
    // &:not(:hover) {
    //     transition: all 0.3s;
    //     background-color: $color-bg-header-opacity !important;
    // }
}

.btnLogin, .btnRegister {
    align-self: center;
    height: fit-content;
    margin-left: 16px;

    &.btnMobile {
        width: 100%;
        margin-left: 0;
    }
}

