@import '../../../styles/config';

.card-horizontal {
    width: 100%;
    height: 80px;
    background-color: $color-white;
    padding: 8px;
    box-shadow: 0 14px 30px rgba($color-box-shadow,.15),0 4px 4px rgba($color-box-shadow,.05);
}

.card-horizontal,
.card-default,
.card-square {
    animation: scaleUpCenter 0.2s linear;
}

.card-square {
    background-color: $color-white;
    box-shadow: 0 14px 30px rgba($color-box-shadow,.15),0 4px 4px rgba($color-box-shadow,.05);
}