@import '../../../styles/config';

.card-horizontal {
    width: 100%;
    height: 80px;
    background-color: $color-white;
    padding: 8px;
}

.card-horizontal,
.card-default,
.card-square {
    &[animation="1"] {
        animation: scaleUpCenter 0.2s linear;
    }
}