@import '../../styles/config';

.container {
   text-align: center;
   width: 100%;
   margin-top: 40px;
   margin-bottom: 280px;
}

.animeNotFound {
  font-size: $fs-md-lg;
  color: $color-text-md;
}
