@import '../../../styles/config';

.container {
    background-color: $color-white;
    border-radius: 3px;
    margin-top: 40px;
    padding: 20px;

    .section {
        margin-bottom: 32px;
    }

    .title {
        color: $color-text-bold;
        font-size: $fs-md-sm;
    }
}

